.video_screen {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.video_track {
    height: 300;
    width: 400;
    margin: 10px;
}

.end_call_button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}

.end_call_button:hover {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FF6865;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}