.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
  background-image: url('../pics/1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.top-container {
  width: 100%;
  background-color: #1c1d47; /* Set your desired background color */
  border-radius: 15px 15px 0 0; /* Set border radius for top left and top right corners */
  padding: 20px; /* Add padding as needed */
  box-sizing: border-box; /* Include padding and border in the total width and height of the element */
  /* Optionally add more styles such as border, box-shadow, etc. */
}
